{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold mb-5 text-center">Login</h2>
        <form id="registrationForm" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-lime text-sm font-bold mb-2" for="username">Code</label>
               
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-shadow" type="number" placeholder="code that you received" name="code" required>
            </div>
            <div class="mb-4">
                <label class="block text-lime text-sm font-bold mb-2" for="username">User Name</label>
               
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-shadow" id="username" type="email" placeholder="Username" name="user" onblur="validateEmail('username','usernameError','submit_name')" required>
                <span id="usernameError" class="text-red-500 msgError"></span>
            </div>
            <div class="mb-6">
                <label class="block text-lime text-sm font-bold mb-2" for="password">New Password</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************" name="password" onblur="validatePassword('password', 'passwordError', 'submit_name')" required>
                <span id="passwordError" class="text-red-500 msgError"></span> 
            </div>
        <div class="flex  justify-start"> <!-- Use flex container to align buttons -->
            <button class="bg-primary text-white  py-2 px-4 rounded btn flex-1" type="submit" name="submit" value="insert_" id="submit_name"> 
                Reset
            </button>
       
              <a href = '../' class="bg-primary text-white py-2 px-4 rounded ml-2 flex-1 btn bg-error" type="submit" name="submit">
                  Cancel
              </a>

        </div>
    </form>

{% endblock %}
