{% extends 'dash_base.html' %}

{% block user_active %}bg-gray-700{% endblock %}

{% block content %}
<!-- Add specific content for this app here -->     
<table id="view_table" class="display w-full z-0">
    <thead>
        <tr>
            <th>sno</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td id="sno_{{user.id}}">{{forloop.counter}}</td>
            <td id="name_{{user.id}}"> {{ user.first_name }} {{ user.last_name }}</td>
            <td id="email_{{user.id}}"> {{ user.email }}</td>
            <td id="phone_{{user.id}}"> {{ user.phone }}</td>
            <td id="dob_{{user.id}}"> {{ user.dob|date:'Y-m-d' }}</td>
            <td id="gender_{{user.id}}">{% if user.gender == 'f' %} Female
                {% elif user.gender == 'm' %} Male
                {% else %} Other {% endif %}
            </td>
            <td id="address_{{user.id}}">{{ user.address }}</td>
            <td>
                <div class="flex"> <!-- Use flex container to align buttons -->
                    <button class="bg-gray-700 text-white font-bold py-2 px-4 rounded" onclick="showModalCustom({{user.id}})" type="none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="inline">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M7 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-1"/><path d="M20.385 6.585a2.1 2.1 0 0 0-2.97-2.97L9 12v3h3zM16 5l3 3"/>
                            </g>
                        </svg>
                    </button>

                    <form method='POST' class="inline">
                        {% csrf_token %}
                        <button class="bg-yellow-700 text-white font-bold py-2 px-4 rounded ml-1 " value="resetPassword_{{user.id}}" type="submit" name="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="white" d="M13 3a9 9 0 0 0-9 9H1l4 4l4-4H6c0-3.86 3.14-7 7-7s7 3.14 7 7s-3.14 7-7 7c-1.9 0-3.62-.76-4.88-1.99L6.7 18.42A8.982 8.982 0 0 0 13 21a9 9 0 0 0 0-18m2 8v-1c0-1.1-.9-2-2-2s-2 .9-2 2v1c-.55 0-1 .45-1 1v3c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-3c0-.55-.45-1-1-1m-1 0h-2v-1c0-.55.45-1 1-1s1 .45 1 1z"/></svg>
                        </button>
                    </form>

                    <form method='POST' class="inline">
                        {% csrf_token %}
                        <button class="bg-red-700 text-white font-bold py-2 px-4 rounded ml-1 " value="dlt_{{user.id}}" type="submit" name="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="inline">
                                <path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                
            </td>
        </tr>
        {% endfor %}
        <!-- Add more rows as needed -->
    </tbody>
</table>
{% endblock %}

{% block update_form %}
    {% include 'update_form.html' %} 
{% endblock %} 

{% block register_form %}
    {% include 'register_form.html' %} 
{% endblock %} 

