
<div class="w-full flex md:w-auto bg-gray-600 rounded-lg my-2 shadow-2xl" id='csv_uploader'>
   
  <form method="post" enctype="multipart/form-data" class="flex-1 md:flex-none p-3">
      {% csrf_token %}
      <label class="pb-3">Inset new artist using CSV</label><br>
      <input type="file" name="csv_file" accept=".csv" required class = "bg-white rounded mr-4 mt-3" />
      <input type="hidden" name="submit" value="csv_"/>
      <button type="submit" value="csv_" name="submit" class="bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded">Upload</button>
  </form>
</div>



<form method='POST' class="mt-4 bg-gray-600 p-5 rounded-lg">
    {% csrf_token %}
    <p class="mb-3 font-bold">Insert new artist</p>
      <div class="max-w-lg mx-auto">
          <form class="bg-white shadow-md rounded px-8 pt-6 mb-4">
            
            <div class="mb-4">
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name_modal" name="name" type="text" placeholder="Name">
              </div>

            <div class="mb-4">
                <label>Date of Birth</label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="dob_modal" name="dob" type="date">
            </div>

              <div class="relative">
                <select class="block appearance-none w-full bg-white border border-gray-400 text-gray-700 py-2 px-3 pr-8 rounded leading-tight focus:outline-none focus:border-gray-500" id="gender_modal" name="gender" >
                  <option value="m">Male</option>
                  <option value="f">Female</option>
                  <option value="o">Other</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"/>
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0 2a10 10 0 100-20 10 10 0 000 20z" clip-rule="evenodd"/>
                  </svg>
                </div>
              </div>

    
            <div class="mb-4 mt-4">
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="address_modal" name="address" placeholder="Address"></input>
            </div>

            <div class="">
                <div class="mb-4 flex">
                  <div class="w-1/2 mr-1">
                    <label>Number of Albums</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="no_of_album_modal" name="no_of_album" type="number" >
                  </div>
                  <div class="w-1/2">
                    <label>First Album Released Year </label>
                    <div class="relative">
                    <select class="block appearance-none w-full bg-white border border-gray-400 text-gray-700 py-2 px-3 pr-8 rounded leading-tight focus:outline-none focus:border-gray-500" id="first_release_modal" name="first_release" >
                      {% for year in years %}
                         <option value="{{ year }}">{{ year }}</option>
                      {% endfor %}
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"/>
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0 2a10 10 0 100-20 10 10 0 000 20z" clip-rule="evenodd"/>
                      </svg>
                    </div>
                  </div>
                  </div>
                </div>

            <div class="flex"> <!-- Use flex container to align buttons -->
              <button class="bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded w-50" type="submit" id="modal_submit" name="submit" value="insert_">
                  {{btn}}
              </button>
          </form>
  



